h2{
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h3{
  ont-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

hr{
  border-width: 0.15rem;
  /* width: 100%; */
  color: #000000;
  padding: 0 18px;
  opacity: 1;
  display: block;
  margin-right: 10%;
}

body{
  font-family: "Montserrat", sans-serif;
}

.main-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}


/* Navigation Bar */

#title{
  background-color: #7FB77E;
  color: #fff;
}

.navbar-container{
  padding: 1.5% 15% 0;
}

.navbar{
  font-family: "Montserrat", sans-serif;
  color: #06FF00;
  /* margin-right: 15%; */
}

.navbar-brand{
  font-size: 3.5rem;
  font-weight: 900;
  color: #06FF00;
}

.navbar-nav{
  font-size:1.25rem;
  font-weight:400;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  color: #ffff;
}

.navbar-brand-mobile{
  display: none;
  font-size: 3.5rem;
  font-weight: 900;
  color: #06FF00;
  text-align: center;
  padding: 2.5%;
  line-height: 1.25;
}

.navbar-brand-mobile:link {
     text-decoration: none;
}

.navbar-brand-mobile:visited {
     text-decoration: none;
}

.navbar-brand-mobile:hover {
     text-decoration: none;
     color: #ffff;
}

.navbar-brand-mobile:active {
     text-decoration: none;
}

.navbar-brand-mobile-container{
  text-align: center;
  padding: 2% 15% 4%;
}



@media (max-width:991px){
  .navbar-toggler{
    text-align: left;
    display:inline-block;
  }

  .navbar-brand{
    display: none;
  }

  .navbar-brand-mobile{
    display: block;
  }

  .navbar-nav{
    text-align: left;
  }
}

.sign-up-form-heading{
  padding: 5% 15% 4%;
  text-align: center;
  background-color: #000000;
}

.moto-heading{
  color: #2192FF;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
}

.logo-container{
  padding-top: 5%;
}

.toxic-logo{
  width: 285px;
}


.bottom-container{
  background-color:#000000;
  padding: 1% 0 0.5%;
  text-align: center;
}

.footer-menu{
  padding: 0 30%;
}

.footer-column{
  padding: 5% 0;
}

.footer-link{
  color: #2192FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  margin: 2% 2%;
  text-decoration: none;

}

.footer-link:hover{
  color: #EAF6F6;
}

.copyright-text{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* Sign-Up Section */



.sign-up-form{
  padding: 5% 30% 10%;
  background-color: #000000;
}

.form-label{
  color: #ffffff;
}

#location{
  text-align: left;
  padding: 3% 0 4%;
  background-color: #7FB77E;

}

.location-header{
  padding-bottom: 2%;
}
